.contenedor-imagen{
    width: 100px;
    height: 50px;
    border: 1px solid rgb(252, 252, 252);
    text-align: center;
}

.contenedor-imagen img{
    max-width: 100%;
    max-height: 100%;
}

.tablas{
    border: 1px solid black;
    width: 100%;
}

h1{
    text-align: center;
}

.matricula img{
    width: 70%;
    height: 500px;
}

.matricula{
    text-align: center;
}

.menu{
    border: 1px solid black;
    text-align: center;
    width: 100%;
}

